[Unit]
Description=FaceID api service
Requires=faceid.socket
After=network.target

[Service]
User=root
Group=www-data
WorkingDirectory=/home/ali/FaceID/
ExecStart=/home/ali/FaceID/venv/bin/gunicorn \
          --access-logfile - \
          --workers 3 \
          --bind unix:/run/faceid.sock \
          config.wsgi:application

[Install]
WantedBy=multi-user.target
